{% if data.metafields.product.new_product == true %}
  <span class="new-indicator indicator">
    {{ 'new' | escape }}
  </span>
{% endif %}

{% if data.compare_at_price > data.price %}
  {% if data.available == true %}
    <span class="sale-indicator indicator">
      {{ 'sale' | escape }}
    </span>
  {% endif %}
{% endif %}

{% if data.metafields.product.preorder == true %}
  {% if data.metafields.product.new_product == true %}
  {% else %}
    <span class="preorder-indicator indicator">
      {{ 'sign up' | escape }}
    </span>
  {% endif %}
{% endif %}

{% if data.available == false %}
  {% if data.metafields.product.preorder == true %}
  {% else %}
    <span class="soldout-indicator indicator">
      {{ 'sold out' | escape }}
    </span>
  {% endif %}
{% endif %}