<div class="no-products">
    <div class="no-products-wrapper">
        
        <h3 style="font-family: var(--times); font-size: var(--14px);">There are no products in this collection</h3>

    </div>
</div>