<div class="no-products">
    <div class="no-products-wrapper">
        
        <h3 style="font-family: var(--times); font-size: 12px;">
            {{ settings.no_products_text | default: 'not yet, but soon' }}
        </h3>

    </div>
</div>