<div class="sign-up-modal">
    <div class="modal-wrapper">

        <div class="title-bar action-bar">
            {{ 'sign up' | escape | downcase }}
        </div>

        {% comment %}  
        <div class="warning">
            <span style="text-transform: uppercase;">
                {{ settings.newsletter_warning | default: 'WARNING: SEVERE NECESSITY, \n IMMEDIATE ACTION REQUIRED' | newline_to_br }}
            </span>
        </div>
        {% endcomment %}

        
        <div class="form">
            <div id="omnisend-embedded-v2-650b32f8c59a63823a308167"></div>
            {% comment %}  
            <input type="email" placeholder="your email" />
            <select>
                <option selected>{{ 'select a size' | escape }}</option>
                {% for variant in data.variants %}
                    <option>{{ variant.title }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" />
            {% endcomment %}
        </div>

    </div>
</div>

<style>
    input[type="email"] {
      border-radius: 0px !important;
    }
  </style>