<div class="soldout-modal">
    <div class="modal-wrapper">

        <div class="title-bar action-bar">
            <span class="close-soldout">
                {{ 'x' | escape }}
            </span>
            <span>
                {{ 'sign up' | escape | downcase }}
            </span>
        </div>
        
        <div class="form">
            <div id="omnisend-embedded-v2-650b32f8c59a63823a308167"></div>
        </div>

    </div>
</div>

<style>
    .soldout-modal input[type="email"] {
            border-radius: 0px !important;
            /*padding: 0px !important;*/
            padding-top: 6px !important;
            padding-right: 6px !important;
            padding-bottom: 6px !important;
            padding-left: 6px !important;
    }
      
    .soldout-modal button {
        font-family: var(--mingliu) !important;
        padding: 6px 32px !important; 
    }
    
</style>