<div class="sign-up-modal">
    <div class="modal-wrapper">

        <div class="title-bar action-bar">
            {{ 'sign up' | escape | downcase }}
        </div>
        
        <div class="form">
            <div id="omnisend-embedded-v2-65120c99f7add43ea5b38687"></div>
        </div>

    </div>
</div>


<style>
    .sign-up-modal input[type="email"] {
        border-radius: 0px !important;
        /*padding: 0px !important;*/
        padding-top: 6px !important;
        padding-right: 6px !important;
        padding-bottom: 6px !important;
        padding-left: 6px !important;
    }

    .sign-up-modal button {
        font-family: var(--mingliu) !important;
        padding: 6px 32px !important; 
    }
    
</style>
