<div class="sign-up-modal">
    <div class="modal-wrapper">

        <div class="title-bar action-bar">
            {{ 'sign up' | escape | downcase }}
        </div>
        
        <div class="form">
            <div id="omnisend-embedded-v2-65120c99f7add43ea5b38687"></div>
        </div>

    </div>
</div>

<style>
    input[type="email"] {
      border-radius: 0px !important;
    }
</style>