<div class="soldout-modal">
    <div class="modal-wrapper">

        <div class="title-bar action-bar">
            {{ 'sign up' | escape | downcase }}
        </div>
        
        <div class="form">
            <div id="omnisend-embedded-v2-650b32f8c59a63823a308167"></div>
        </div>

    </div>
</div>

<style>
    input[type="email"] {
      border-radius: 0px !important;
      /*padding: 0px !important;*/
      padding-top: 6px !important;
      padding-right: 6px !important;
      padding-bottom: 6px !important;
      padding-left: 6px !important;
    }
</style>