<div class="throne--navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      <img src="{{ 'logo.svg' | asset_url }}" alt="">
    </div>
    <div class="hamburger">
      <img src="{{ 'cart.png' | asset_url }}" alt="">
    </div>
  </div>
</div>
