<div class="pagination">
    {% if template.name == 'index' %}

      <span class="pagination-link index">
        00 &ndash; all
      </span>
      
    {% elsif collection %}

      {% for link in linklists.shop-menu.links %}
        {% if link.title contains collection.handle %}
          <span class="pagination-link archive">
            {{ link.title }}
          </span>
        {% endif %}
      {% endfor %}

    {% endif %}
</div>