.grid-changer {
    display: block;
    margin: 0px 0 30px 0;
    top: 0;
    left: 0;

    .grid-changer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .crosshair {
            position: relative;
            cursor: pointer;

            img {
                width: 22px;
                height: 22px;
                position: absolute;
                transition: all 0.24s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .grid-changer {
        margin: -10px 0 30px 0;
    }

}