.single-product {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .single-product-wrapper {
        display: grid;
        grid-template-columns: 46% 1fr;
        grid-gap: 40px;
        align-items: center;
        width: 100%;
        max-width: var(--thin);

        /*
            Left
        */
        .left-side {

            .swiper {
                width: 100%;
                height: 100%;
            }
  
            img {
                max-width: 100%;
            }
            
        }


        /*
            Right
        */
        .right-side {

            .product-title.desktop {
                display: flex;
                flex-direction: row;
    
                h1 {
                    font-family: var(--mingliu);
                    font-size: var(--22px);
                    margin: 0 0 10px 0;
                    line-height: 1;
                }
            }

            .sold-out-indicator,
            .sold-out-indicator--mobile {
                font-size: var(--10px);
                font-style: italic;
                background: #D2D2D2;
                color: var(--white);
                padding: 4px;
                position: relative;
                top: -4px;
            }
            .sold-out-indicator:empty,
            .sold-out-indicator--mobile:empty {
                padding: 0px;
            }

            .product-title.mobile {
                display: none;
            }
            
        }
        
        button[disabled="disabled"] {
            color: #D2D2D2 !important;
            background: var(--white) !important;
        }
        button[disabled="disabled"]:hover {
            color: #D2D2D2 !important;
            background: var(--white) !important;
        }

        .actions-header {
            display: grid;
            grid-template-columns: 1fr 4fr 4fr;
            border: var(--border-blk);
            font-size: var(--12px) !important;
            font-family: var(--mingliu);
            text-transform: lowercase !important;


            .price-holder {
                border-right: var(--border-blk);
                display: flex;
                flex-direction: row;
                gap: 6px;
                white-space: nowrap;
                align-items: center;
                padding: 0 10px;
                font-size: var(--12px)!important;

            }

            .size-holder {
                position: relative;
                overflow: hidden;
                text-transform: lowercase;

                label {
                    text-transform: uppercase;
                }
                
                .product-form__input input[type='radio']:checked+label {
                    //background-color: rgb(var(--color-foreground));
                    //color: rgb(var(--color-background));
                    text-decoration: underline;
                }
                @media screen and (forced-colors: active) {
                    .product-form__input input[type='radio']:checked+label {
                        text-decoration: underline;
                    }
                }
                .product-form__input input[type='radio']:checked+label::selection {
                    //background-color: rgba(var(--color-background), 0.3);
                    text-decoration: underline;
                }

                variant-radios {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    
                    fieldset {
                        padding-left: 10px;
                    }

                    fieldset:nth-child(2) {
                        border-left: var(--border-blk);
                    }
                }

                .variant-selector-title {
                    display: flex;
                    align-items: center; 
                    gap: 4px;
                    cursor: pointer;
                    svg {
                        width: 10px;
                        height: 10px;
                    }
                }
                .variant-selector-title:hover {
                    text-decoration: underline;
                }

                .variant-selector-box {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: var(--white);
                    z-index: 3;
                    float: left;
                    justify-content: space-around;
                    gap: 0px;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        cursor: pointer;
                        font-size: var(--12px)!important;
                        animation: popUp 0.26s ease-in-out;
                    }

                    label:hover {
                        text-decoration: underline;
                    }
                }

            }

            .button-holder {
                border-left: var(--border-blk);
                border-right: 10px;

                input {
                    width: 100%;
                }

                div {
                    height: 100%;
                }
                form {
                    height: 100%;
                }
                .product-form {
                    height: 100%;
                }
                .product-form-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    height: 100%;

                    button {
                        width: 100%;
                        height: 100%;
                        background: var(--white);
                        color: var(--black);
                        border: 0px;
                        border-radius: 0px !important;
                        cursor: pointer;
                        padding: 10px 20px;
                        font-family: var(--mingliu) !important;
                        font-size: var(--12px)!important;
                        text-transform: uppercase;
                        white-space: nowrap;
                        font-weight: normal !important;
                    }

                    button:hover {
                        background: var(--black);
                        color: var(--red);
                    }

                    button[aria-disabled="true"] {
                        color: var(--black);
                        background: var(--white);
                        opacity: 0.6;
                        cursor: default;
                    }
                }
            }

            form[data-type="add-to-cart-form"]::after {
                display: none !important;
            }

        }

        .single-product--ajax-cart-messages {
            display: none !important;
        }

        .product-description {
            text-align: left;
            letter-spacing: 0.014rem;
            line-height: 1.5;
            text-transform: lowercase;
            padding: 40px 0 0 0;
        }

        .product-pagination {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            a.next-product {
                font-weight: bold;
            }
        }
    }

}


/*
-----------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    .single-product {
        padding: 120px 0 0 0;
        
        .main-page {
            padding: 0;
        }

        .single-product-wrapper {
            display: flex;
            flex-direction: column;

            .actions-header {
                width: 100%;
                border-left: 0px;
                border-right: 0px;
            }

            .left-side {
                width: 100%;
                padding: 0 20px;
            }

            .right-side {
                .product-title.desktop {
                    display: none;
                }
                .product-title.mobile {
                    display: block;
                    padding: 10px;

                    h1 {
                        font-family: var(--mingliu);
                        font-size: var(--14px);
                    }

                }

                .product-description {
                    padding: 0 10px;
                }
                .size-chart {
                    padding: 0 10px;

                    summary {
                        text-align: right;
                        h3{
                            font-family: var(--mingliu);
                        }
                    }
                }
                .product-pagination {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 20px;
                    justify-content: center;
                    padding: 40px 10px 100px 10px;

                    a {
                        font-family: var(--mingliu);
                        text-align: center;
                    }
                }
            }
        }
    }
}



