.single-product {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span.hidden {
        display: block !important;
    }

    .single-product-wrapper {
        display: grid;
        grid-template-columns: 51% 1fr;
        grid-gap: 30px;
        align-items: center;
        width: 100%;
        max-width: var(--thin);

        /*
            Left
        */
        .left-side {

            .swiper {
                width: 100%;
                height: 100%;
            }
  
            img {
                max-width: 100%;
            }
            
        }


        /*
            Right
        */
        .right-side {

            .product-title.desktop {
                display: flex;
                flex-direction: row;
    
                h1 {
                    font-family: var(--mingliu);
                    font-size: var(--22px);
                    margin: 0 0 30px 0;
                    line-height: 1;
                }
            }

            /* Indicators */
            .indicator,
            .indicator {
                font-size: 10px;
                font-style: italic;
                background: #D2D2D2;
                color: var(--white);
                padding: 4px;
                position: relative;
                top: -4px;
                white-space: nowrap;
            }
            .indicator:empty,
            .indicator:empty {
                padding: 0px;
            }
            
            .new-indicator {
                background: var(--black);
                color: var(--red);
            }
            .preorder-indicator {
                font-size: var(--10px);
                font-style: italic;
                background: #0029FF;                ;
                color: #ffffff;
                letter-spacing: -1px;
                padding: 4px 6px 4px 4px;
                position: relative;
                text-align: center;
                top: -4px;  
            }

            .product-title.mobile {
                display: none;
            }
            
        }
        
        button[aria-disabled="true"] {
            cursor: pointer;
            pointer-events: auto;
        }
        button[aria-disabled="true"]:hover {
            background: var(--black);
            color: var(--red);
        }   
        button[disabled="disabled"] {
            // color: #D2D2D2 !important;
            color: var(--black);
            background: var(--white);
        }
        button[disabled="disabled"]:hover {
            color: #D2D2D2;
            background: var(--white);
        }

        /*
            Actions
        */
        .actions-header {
            display: grid;
            grid-template-columns: 1fr 4fr 4fr;
            border: var(--border-blk);
            font-size: var(--12px) !important;
            font-family: var(--mingliu);
            text-transform: lowercase !important;

            .price-holder {
                border-right: var(--border-blk);
                display: flex;
                flex-direction: row;
                gap: 6px;
                white-space: nowrap;
                align-items: center;
                padding: 0 10px;
                font-size: var(--12px)!important;

            }

            .size-holder {
                position: relative;
                overflow: hidden;
                text-transform: lowercase;

                label {
                    text-transform: lowercase;
                }

                .option-value {
                    display: none;
                }
                
                .product-form__input input[type='radio']:checked+label {
                    text-decoration: underline;
                }
                @media screen and (forced-colors: active) {
                    .product-form__input input[type='radio']:checked+label {
                        text-decoration: underline;
                    }
                }
                .product-form__input input[type='radio']:checked+label::selection {
                    //background-color: rgba(var(--color-background), 0.3);
                    text-decoration: underline;
                }

                variant-radios {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    
                    fieldset {
                        padding-left: 10px;
                    }
                    

                    fieldset:nth-child(2) {
                        border-left: var(--border-blk);
                    }
                }

                .variant-selector-title {
                    display: flex;
                    align-items: center; 
                    gap: 4px;
                    cursor: pointer;
                    svg {
                        width: 10px;
                        height: 10px;
                    }

                    .selected-size-variant {
                        white-space: nowrap;
                    }
                }
                .variant-selector-title:hover {
                    text-decoration: underline;
                }

                .variant-selector-box {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: var(--white);
                    z-index: 3;
                    float: left;
                    justify-content: space-around;
                    gap: 0px;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 0px;
                        cursor: pointer;
                        font-size: var(--12px)!important;
                        animation: popUp 0.26s ease-in-out;
                    }

                    label:hover {
                        text-decoration: underline;
                    }
                }

            }

            .button-holder {
                border-left: var(--border-blk);
                border-right: 10px;

                input {
                    width: 100%;
                }

                div {
                    height: 100%;
                }
                form {
                    height: 100%;
                }
                .product-form {
                    height: 100%;
                }

                /* Add To Cart */
                .product-form-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    height: 100%;
                    position: relative;

                    button {
                        padding: 0;
                        border: 0px;
                        border-radius: 0px !important;
                    }

                    // disable until variant selected
                    button[data-state="disabled"] {
                        pointer-events: none;
                        cursor: not-allowed;
                    }

                    button[aria-disabled="true"] {
                        color: var(--black);
                        background: var(--white);
                        // opacity: 0.6;
                        cursor: pointer;
                    }

                    /* No products added to cart */
                    .buttons-not-added {
                        width: 100%;
                        height: 100%;
                        background: var(--white);
                        color: var(--black);
                        cursor: pointer;
                        padding: 10px 10px;
                        font-family: var(--mingliu) !important;
                        font-size: var(--12px)!important;
                        text-transform: lowercase;
                        white-space: nowrap;
                        font-weight: normal !important;
                    }

                    .buttons-not-added:hover {
                        background: #000;
                        color: var(--red);
                    }

                    /* After Product Added To Cart */
                    .buttons-added {
                        background: var(--black);
                        color: var(--red);
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        padding: 10px 20px;
                        font-family: var(--mingliu) !important;
                        font-size: var(--12px)!important;
                        text-transform: lowercase;
                        white-space: nowrap;
                        font-weight: normal !important;
                    }

                    /* After sold out variant selected */
                    .buttons-soldout {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background: var(--white);
                        color: var(--black);
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        padding: 10px 20px;
                        font-family: var(--mingliu) !important;
                        font-size: var(--12px)!important;
                        text-transform: lowercase;
                        text-align: center;
                        white-space: nowrap;
                        font-weight: normal !important;
                    }

                }

                /* Preorder Button */
                span.preorder-button {
                    display: block;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    background: var(--white);
                    color: var(--black);
                    border: 0px;
                    border-radius: 0px !important;
                    cursor: pointer;
                    padding: 10px 20px;
                    font-family: var(--mingliu) !important;
                    font-size: var(--12px)!important;
                    white-space: nowrap;
                    font-weight: normal !important;
                }

                span.preorder-button:hover {
                    background: #000;
                    color: var(--red);
                }
            }

            form[data-type="add-to-cart-form"]::after {
                display: none !important;
            }

        }

        .single-product--ajax-cart-messages {
            display: none !important;
        }

        .product-description {
            text-align: left;
            letter-spacing: 0.014rem;
            line-height: 1.5;
            text-transform: lowercase;
            padding: 40px 0 0 0;
        }

        .details-panel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: flex-start;
            padding: 40px 0;

            .technical-details {
                summary {
                    text-align: left;
                    font-weight: bold;
                    text-decoration: underline;
                }

                ul {
                    margin-top: 20px;
                    list-style: disc;
                    list-style-position: outside;
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }
            }
        }

        .product-pagination {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            a.next-product {
                font-weight: bold;
            }
        }
    }

}

.buttons-added {
    text-align: center;
}

.buttons-soldout {
    display: none;
}

body {
    .buttons-added {
        display: none;           
    }

    .buttons-not-added {
        display: block;
    }
}

body.added-to-cart {
    .buttons-added {
        display: block;   
    }

    .buttons-not-added {
        display: none;
    }
}


/*
-----------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    .single-product {
        padding: 80px 0 0 0;
        
        .main-page {
            padding: 0;
        }

        .single-product-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0px;

            .actions-header {
                margin-top: 12px;
                width: 100%;
                border-left: 0px;
                border-right: 0px;
            }

            .left-side {
                width: 100%;
                padding: 0 20px;
            }

            .right-side {
                width: 100%;
                
                .product-title.desktop {
                    display: none;
                }
                .product-title.mobile {
                    display: block;
                    padding: 10px;

                    h1 {
                        font-family: var(--mingliu);
                        font-size: var(--14px);
                    }

                }

                /* Description */
                .product-description {
                    padding: 0 10px;
                }

                .technical-details {
                    padding-left: var(--side-padding);
                }

                /* Pagination */
                .product-pagination {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    padding: 40px 10px 100px 10px;

                    a {
                        text-align: center;
                    }
                    a.next-product {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}



