.size-chart {

    details > .content {
        overflow: hidden;
    }

    .content {
        transition: all 0.24s ease-in-out; 
        opacity: 0;
        transform: translateY(-40px);
    }
    
    details[open] > .content {
        opacity: 1;
        transform: translateY(0px);
    }

    summary {
        text-align: right;
        font-weight: bold;
        text-decoration: underline;
    }

    .size-chart-table {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;

        tr {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0px;
            margin: 0 0 10px 0;
        }

        .label {
            text-align: left;
            display: block;
            padding-right: 10px;
        }

        th {
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: normal;
            min-width: 1.8rem;
            padding: 0 4px;
        }

        th:first-of-type {
            text-transform: lowercase;
        }

        td {
            text-align: center;
            font-size: 14px;
            min-width: 1.8rem;
            vertical-align: middle;
            padding: 0 4px;
        }

        th.legend,
        td.legend {
            text-align: left;
            margin-right: 22px;
            vertical-align: middle;
        }

    }

}

@media screen and (max-width: 767px) {
    .size-chart {
        padding: 0 var(--side-padding) 0 0;
    }
}