.info-page {
    padding: 60px var(--side-padding) 40px var(--side-padding);
    display: flex;
    justify-content: center;

    .info-wrapper {
        max-width: var(--thin);
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 0px;
        width: 100%;
        position: relative;
        left: -100px;

        .sidebar {
            position: relative;
            width: 110px;
    
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                a {
                    text-decoration: none;
                }

                a.active {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }

        .page-content {
            h1 {
                margin: 0 0 10px 0;
            }
        }
        
    }
}