.lookbook-blog {
    padding: 72px 0 0 0;

    .lookbook-blog-wrapper {
        animation: slideDown  0.3s ease-in-out forwards;
        padding: 40px 0 40px 0;
        width: 100%;
        max-width: var(--thin);
        margin: 0 auto;
        overflow-x: hidden;

        .blog-post-collection {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding-bottom: 20px;

            .lookbook-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                position: fixed;
                left: 0;
                top: 7px;
                width: 100%;

                .selector-holder {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 6px;
                    border: 0px;
                    //position: absolute;
                    z-index: 3;
                    //transform: translateY(-16px);
                    
                    select {
                        text-transform: lowercase;   
                    }
        
                    option {
                        text-transform: lowercase;
                    }
        
                    select::-ms-expand {
                        display: none;
                    }
        
                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border: 0px;
                        font-size: 12px;
                        font-family: inherit;
                        min-width: 130px;
                        padding-right: 10px;
                        cursor: pointer;
                    }
        
                    .icon {
                        //position: absolute;
                        top: 50%;
                        right: -5px;
                        //transform: translateY(-50%);
                        pointer-events: none;
                        svg { 
                            width: 10px;
                        }
                    }
                }
    
            }

            article.article-component {
                display: none;
                flex-direction: row;
                gap: 30px;    
                min-width: 102%;
                overflow-x: scroll;

                img {
                    height: 68vh;
                    min-width: 100%;
                }
    
                .caption {
                    margin: 10px 0 0 0;
                }
    
                p {
                    font-size: 12px;
                    line-height: 1.4;
                    letter-spacing: 0px;
                    margin: 0;
                }
    
            }
    
            article.article-component:first-of-type {
                display: flex;
            }

        }



        /* Scrollbar */
        .blog-post-collection::-webkit-scrollbar {
            display: none;
        }

        .blog-post-collection::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .blog-post-collection::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

    }

}

.lookbook-page {
    padding-top: 60px;
    width: 100%;
    max-width: var(--thin);
    margin: 0 auto;
}

.lookbook-section {
    // display: none;
}


@media screen and (max-width: 767px) {
    .lookbook-blog {

        .lookbook-blog-wrapper {
            padding: 40px 10px 20px 10px;

            .lookbook-header {
                left: 0px;
                padding: 0 0 0 var(--side-padding);
            }
        }   

    }
}