// .cart-overlay .cart-items-holder.desktop {
//     display: flex;
// }
// .cart-overlay .cart-items-holder.mobile {
//     display: none;
// }

.cart-overlay {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--white);
    z-index: 9;
    display: none;
    justify-content: flex-start;
    padding-top: 10px;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    
    .cart-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        max-width: var(--thin);
        padding-bottom: 0px;
        text-transform: uppercase;
        margin: 0 auto;

        .cart-hamburger {
            padding-right: 0px;
            cursor: pointer;
            z-index: 999;
            img {
                max-width: 60px;
            }
        }
    }

    .cart-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: var(--thin);
        margin: 0 auto;
        padding: 0 0 20px;

        span.cart-counter {
            // position: absolute;
            // top: -10px;
            // right: 0px;
            display: inline-block;
            color: var(--red);
            font-style: italic;
            font-size: var(--10px);
            background: #000000;
            padding: 4px;
        }
    }

    .cart-overlay-wrapper {
        animation: slideDown  0.3s ease-in-out;

        width: 100%;
        max-width: var(--thin);
        margin: 0 auto;

        form#add-to-cart-form {
            padding: 0 0 20px 0;
            width: 100%;
        }


        /* Cart Items */
        ul.cart-items {
            max-height: 60vh;
            overflow-y: scroll;
            font-size: 16px;

            li.cart-item {
                .cart-item-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 2fr 2fr 1fr 0.5fr 1fr;
                    grid-gap: 20px;
                    align-items: center;
                }

                .image {
                    max-width: 80px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .product-title a {
                    text-decoration: none;
                    font-family: var(--mingliu);
                }

                .quantity {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    font-family: var(--mingliu);
                    gap: 5px;
                }

                .quantity-wrapper {
                    display: grid;
                    grid-template-columns: 2fr 1fr 2fr 1fr;
                    grid-gap: 0px;
                    align-items: center;
                    justify-content: space-around;
                    font-family: var(--mingliu);

                    input:focus {
                        outline: 0;
                        border: 0;
                    }
                    
                    a {
                        text-decoration: none;
                        font-family: var(--mingliu);
                        color: var(--black);
                    }

                    button {
                        font-family: var(--mingliu);
                        color: var(--black);
                    }

                    input[type="number"] {
                        font-family: var(--mingliu);
                        color: var(--black);
                        max-width: 1.6rem;
                        text-align: center;
                        border: 0px !important;
                        border-radius: 0px !important;
                        font-family: inherit;
                    }
                }

                .quantity:after,
                .quantity:before {
                    display: none;
                }

                .quantity button {
                    border: 0;
                    outline: 0;
                    background: transparent;
                    border-radius: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 12px;
                    }
                }

                .variants.size {
                    text-align: right;
                    font-family: var(--mingliu);
                }

                .color-wrapper {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    gap: 10px;
                    flex-wrap: wrap;

                    .color-swatch {
                        width: 20px;
                        height: 20px;
                        display: block;
                        border: var(--border-blk);
                    }
                }

                .delete {
                    text-align: right;
                }

            }

        }

        /* Subtotal */
        .subtotal {
            border-top: var(--border-blk);
            border-bottom: var(--border-blk);
            padding: 20px 0;
            font-family: var(--mingliu);

            .subtotal-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

        }

        /* Credit Cards */
        ul.credit-cards-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }


        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 0 80px 0;
            font-family:'Times New Roman', Times, serif;

            .checkout-button {
                background: transparent;
                color: var(--black);
                border: var(--border-blk);
                padding: 10px 40px;
                text-decoration: none;
            }

            .checkout-button:hover {
                background: var(--black);
                color: var(--red);
            }

            .update-cart {
                background: transparent;
                color: var(--black);
                border: var(--border-blk);
                padding: 10px 20px;
            }
            .update-cart:hover {
                background: var(--black);
                color: var(--white0);
            }
        }


    }

    .cart-disclaimer {
        text-align: center;
        padding: 100px 0 40px 0;
        font-size: 10px;

        a { text-decoration: underline; }
    }

}

// 
// form.js-ajax-cart-form-in-progress [type="submit"] {
//   opacity: .7;  
// }

/* Show a loading indicator */
// form.js-ajax-cart-form-in-progress:after { 
//   content: 'Adding to cart…';
//   display: block; 
// }


  /* Ajax Details */
  .cart-item { 
    opacity: 1;
    transition: opacity .2s;
  }
   
  /* Make the area with controls visually disabled */
  body.js-ajax-cart-request-in-progress .cart-item {
    opacity: .3;
  }

  .js-my-cart-open .cart-overlay {
    display: block;
  }



.js-ajax-cart-empty .cart {
    display: none;
}
.js-ajax-cart-empty .empty-cart {
    display: block;
}

.js-my-cart-open .logo-italic {
    display: block;
    max-width: 110px;
    margin-top: 4px;
}

.cart-items-holder.mobile {
    display: none;
}
  /*
  -----------------------------------------------------------------------------------
  */
@media screen and (max-width: 767px) {

    .cart-items-holder.desktop { display: none; }
    .cart-items-holder.mobile { display: flex; }

    .cart-overlay {
        padding-top: 0px;

        .cart-nav {
            padding: 14px 12px;
        }

        .cart-header {
            padding: 0 12px 20px 12px;
        }

        .cart-overlay-wrapper {

            .cart {
                padding: 0;
            }

            ul.cart-items {
                font-size: var(--12px);
                padding: 10px 12px;
                gap: 10px;
                

                li.cart-item {
                    margin: 0 0 20px 0;
                    
                    .cart-item-wrapper {
                        display: grid;
                        grid-template-columns: 2fr 4fr 1fr;
                        grid-gap: 0px;
                        align-items: flex-start;
                        
                
                        .image {
                            max-width: 88px;

                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }

                        .data {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 10px;

                            .product-title {
                                font-size: var(--14px);
                            }

                            .quantity-wrapper {
                                display: flex;
                                flex-direction: row;
                                gap: 6px;
                                font-family: var(--times);
                                input[type=number] {
                                    max-width: 1rem;
                                }
                            }

                            .size {
                                text-align: left;
                                font-family: var(--times);
                                gap: 5px;
                            }

                            .product-price {
                                margin-top: 12px;
                                font-family: var(--times);
                            }
                        }

                        .actions {
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            justify-content: flex-end;
                            align-items: center;
                        }
                    }


                }
            }

            .buttons {
                padding: 20px 0;
                
                .checkout-button {
                    padding: 10px 30px;
                    width: 60%;
                    text-align: center;
                }
            }
    
            .subtotal {
                .subtotal-wrapper {
                    padding: 0 12px;
                }
            }
            .continue-shopping {
                a {
                    font-size: var(--16px);
                }
            }

            ul.credit-cards-list {
                margin-top: 30px;
            }
        }

    }
    
}