.cart-overlay .cart-items-holder.desktop {
    display: flex;
}
.cart-overlay .cart-items-holder.mobile {
    display: none;
}

.cart-overlay {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--white);
    z-index: 8;
    display: none;
    justify-content: flex-start;
    padding-top: 140px;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    
    .cart-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: var(--thin);
        padding-bottom: 40px;
        text-transform: uppercase;
        margin: 0 auto;

        img {
            width: 160px;
            max-width: 100%;
        }
    }

    .cart-overlay-wrapper {
        animation: slideDown  0.3s ease-in-out;

        width: 100%;
        max-width: var(--thin);
        margin: 0 auto;

        form#add-to-cart-form {
            padding: 0 0 20px 0;
            width: 100%;
        }


        /* Cart Items */
        ul.cart-items {
            max-height: 60vh;
            overflow-y: scroll;
            font-size: 16px;

            li.cart-item {
                .cart-item-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
                    grid-gap: 20px;
                    align-items: center;
                }

                .image {
                    max-width: 80px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .product-title a {
                    text-decoration: none;
                    font-family: var(--mingliu);
                }

                .quantity {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    font-family: var(--mingliu);
                    gap: 5px;
                }

                .quantity-wrapper {
                    display: grid;
                    grid-template-columns: 2fr 1fr 2fr 1fr;
                    grid-gap: 0px;
                    align-items: center;
                    justify-content: space-around;
                    font-family: var(--mingliu);

                    input:focus {
                        outline: 0;
                        border: 0;
                    }
                    
                    a {
                        text-decoration: none;
                        font-family: var(--mingliu);
                        color: var(--black);
                    }

                    button {
                        font-family: var(--mingliu);
                        color: var(--black);
                    }

                    input[type="number"] {
                        font-family: var(--mingliu);
                        color: var(--black);
                        max-width: 1.6rem;
                        text-align: center;
                        border: 0px !important;
                        border-radius: 0px !important;
                        font-family: inherit;
                    }
                }

                .quantity:after,
                .quantity:before {
                    display: none;
                }

                .quantity button {
                    border: 0;
                    outline: 0;
                    background: transparent;
                    border-radius: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 12px;
                    }
                }

                .variants.size {
                    text-align: center;
                    font-family: var(--mingliu);
                }

                .color-wrapper {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    gap: 10px;
                    flex-wrap: wrap;

                    .color-swatch {
                        width: 20px;
                        height: 20px;
                        display: block;
                        border: var(--border-blk);
                    }
                }

                .delete {
                    text-align: right;
                }

            }

        }


        /* Subtotal */
        .subtotal {
            border-top: var(--border-blk);
            border-bottom: var(--border-blk);
            padding: 20px 0;

            .subtotal-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .price {
                text-decoration: underline;
            }
        }



        /* Credit Cards */
        ul.credit-cards-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }


        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 0 80px 0;
            font-family:'Times New Roman', Times, serif;

            .checkout-button {
                background: transparent;
                color: var(--black);
                border: var(--border-blk);
                padding: 10px 20px;
                text-decoration: none;
            }

            .checkout-button:hover {
                background: var(--black);
                color: var(--white);
            }

            .update-cart {
                background: transparent;
                color: var(--black);
                border: var(--border-blk);
                padding: 10px 20px;
            }
            .update-cart:hover {
                background: var(--black);
                color: var(--white0);
            }
        }


    }

    .cart-disclaimer {
        text-align: center;
        padding: 100px 0 40px 0;
        font-size: 10px;

        a { text-decoration: underline; }
    }

}

// 
// form.js-ajax-cart-form-in-progress [type="submit"] {
//   opacity: .7;  
// }

/* Show a loading indicator */
// form.js-ajax-cart-form-in-progress:after { 
//   content: 'Adding to cart…';
//   display: block; 
// }


  /* Ajax Details */
  .cart-item { 
    opacity: 1;
    transition: opacity .2s;
  }
   
  /* Make the area with controls visually disabled */
  body.js-ajax-cart-request-in-progress .cart-item {
    opacity: .3;
  }

  .js-my-cart-open .cart-overlay {
    display: block;
  }



.js-ajax-cart-empty .cart {
    display: none;
}
.js-ajax-cart-empty .empty-cart {
    display: block;
}

  /*
  -----------------------------------------------------------------------------------
  */
@media screen and (max-width: 767px) {

    .cart-overlay {
        padding-top: 80px;

        .cart-items-holder.desktop {
            display: none;
        }

        .cart-items-holder.mobile {
            display: flex;
    
            .data {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
    
            .actions {
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: flex-end;
                justify-content: flex-end;
            }
    
    
        }

        .cart-overlay-wrapper {

            ul.cart-items {
                font-size: var(--12px);
                gap: 20px;
                

                li.cart-item .cart-item-wrapper {
                    display: grid;
                    grid-template-columns: 2fr 4fr 1fr;
                    grid-gap: 0px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
            
                    .image {
                        img {
                            max-width: 20vw;
                            height: auto;
                        }
                    }

                    .size {
                        text-align: left;
                        font-family: var(--mingliu);
                        gap: 5px;
                    }
                }
            }
    
            .continue-shopping {
                a {
                    font-size: var(--16px);
                }
            }

            ul.cart-items li.cart-item {
                margin: 0 0 20px 0;
            }



            ul.cart-items li.cart-item .color-wrapper {
                justify-content: flex-start;
                align-items: center;
            }

            ul.cart-items li.cart-item .quantity-wrapper {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

        }

    }

    

    .cart-overlay .cart-overlay-wrapper ul.cart-items li.cart-item .quantity-wrapper input[type=number] {
        max-width: 1rem;
    }

    .cart-overlay .cart {
        padding: 0 12px;
    }
    .cart-overlay .cart-header {
        padding: 0 12px;
    }

    /* Checkout Buttons */
    .cart-overlay .cart-overlay-wrapper .buttons {
        padding: 20px 0;
        // border-bottom: var(--border-blk);
    }
    .cart-overlay .cart-overlay-wrapper .buttons .checkout-button {
        padding: 10px 30px;
        width: 60%;
        text-align: center;
    }

    /* Credit Cards */
    .cart-overlay .cart-overlay-wrapper ul.credit-cards-list {
        margin-top: 30px;
    }

    .cart-items.desktop {
        display: none;
    }
    .cart-items.mobile {
        display: flex;
    }
    
}