<div class="shop-component-wrapper" data-layout="grid">

  {%- liquid
      render 'throne-grid-changer';
      render 'throne-collection-pagination';
  -%}

  {% if section.settings.collection.products == blank %}
    {% render 'no-products' %}
  {% endif %}

  <ul class="products-grid grid">
    {% if section.settings.collection.products.size > 0 %}

      {%- for product in section.settings.collection.products limit: 16 -%}
          {% render 'throne--card-grid-view', product: product %}
      {%- endfor -%}

    {% endif %}
  </ul>

  <ul class="products-grid list">
    {% if section.settings.collection.products.size > 0 %}

      {%- for product in section.settings.collection.products limit: 16 -%}
          {% render 'throne--card-list-view', product: product %}
      {% endfor %}

    {% endif %}
  </ul>

  <div class="products-grid dual">
      <ul class="dual-wrapper">
        {% if section.settings.collection.products.size > 0 %}

          {%- for product in section.settings.collection.products limit: 16 -%}
              {% render 'throne--card-dual-view', product: product %}
          {%- endfor -%}
  
        {% endif %}
      </ul>
  </div>

</div>

{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section shop-component page-component",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}