<div class="about-component">
  <div class="about-wrapper">
  
    <div>{{ section.settings.about_title }}</div>

    <div>{{ section.settings.about_tagline }}</div>

  </div>
</div>

{% schema %}
{
  "name": "About",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "about_featured_image",
      "label": "Background (Desktop)"
    },
    {
        "type": "text",
        "id": "about_title",
        "label": "About Title"
    },
    {
      "type": "text",
      "id": "about_tagline",
      "label": "Tagline"
  }
  ],
  "presets": [
    {
      "name": "About",
      "about_title": "about",
      "about_tagline": "based on a true story"
    }
  ]
}
{% endschema %}
