<div class="newsletter-modal">
    <div class="newsletter-wrapper">

        <div class="action-bar">
            <div class="action-title">
                <span>
                    {{ settings.newsletter_title | default: 'newsletter' }}
                </span>
            </div>                   
        </div>

        <div class="newsletter-body">
            <div class="newsletter-form">
                <div id="omnisend-embedded-v2-65035bc445b1952a5b614157"></div>
            </div>
        </div>

    </div>
</div>
<style>
    .newsletter-modal input[type="email"] {
            border-radius: 0px !important;
            /*padding: 0px !important;*/
            padding-top: 6px !important;
            padding-right: 6px !important;
            padding-bottom: 6px !important;
            padding-left: 6px !important;
        }
    
    .newsletter-modal button {
        font-family: var(--mingliu) !important;
        padding: 6px 32px !important; 
    }
</style>


