<div class="shop-component-wrapper" data-layout="grid">

  {%- liquid
      render 'throne-grid-changer';
      render 'throne-collection-pagination';
  -%}

  {% if settings.featured_collection.products == blank %}

    {% render 'no-products' %}

  {% endif %}

  <ul class="products-grid grid" data-collection="{{ settings.featured_collection.title }}">
    {% for product in settings.featured_collection.products %}
      {% render 'throne--card-grid-view', product: product %}
    {% endfor %}
  </ul>

  <ul class="products-grid list">
      {% for product in settings.featured_collection.products %}
          {% render 'throne--card-list-view', product: product %}
      {% endfor %}
  </ul>

  <div class="products-grid dual">
      <ul class="dual-wrapper">
        {% for product in settings.featured_collection.products %}
            {% render 'throne--card-dual-view', product: product %}
        {% endfor %}
      </ul>
  </div>

</div>

{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section shop-component page-component",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}