<div class="newsletter-modal">
    <div class="newsletter-wrapper">

        <div class="action-bar">
            <div class="action-title">
                <span>
                    {{ settings.newsletter_title | default: 'newsletter' }}
                </span>
            </div>                   
        </div>

        <div class="newsletter-body">
            <div class="warning">
                <span>
                    {{ settings.newsletter_warning | default: 'WARNING: SEVERE NECESSITY, \n IMMEDIATE ACTION REQUIRED' | newline_to_br }}
                </span>
            </div>

            <div class="newsletter-form">
                <div id="omnisend-embedded-v2-65035bc445b1952a5b614157"></div>
                {% comment %}
                <form>
                    <input type="email" placeholder="{{ settings.newsletter_input_placeholder | default: 'your email' }}" />
                    <input style="border-radius: 0px !important; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important;"type="submit" />
                </form>
                {% endcomment %}
            </div>
        </div>

    </div>
</div>



