{% comment %} 

Collection Page

{% endcomment %}
<section class="shop-component">
  <div class="shop-component-wrapper" data-layout="grid">

    {% render 'throne-grid-changer' %}

    {% render 'throne-collection-pagination' %}
    <script>console.log({{ section.settings.collection.products.size }})</script>

<ul class="products-grid grid" {% if collection.products.size > 0 %} {% else %}style="grid-template-columns: 1fr;"{% endif %}>
      {% if collection.products.size > 0 %}

        {%- for product in collection.products -%}
          {% render 'throne--card-grid-view', product: product %}
        {%- endfor -%}

      {% else %}
        {% render 'no-products' %}
      {% endif %}
    </ul>

    <ul class="products-grid list">
      {% if collection.products.size > 0 %}

        {%- for product in collection.products -%}
          {% render 'throne--card-list-view', product: product %}
        {% endfor %}

      {% else %}
        {% render 'no-products' %}
      {% endif %}
    </ul>

    <div class="products-grid dual">
      <ul class="dual-wrapper">
        {% if collection.products.size > 0 %}

          {%- for product in collection.products -%}
            {% render 'throne--card-dual-view', product: product %}
          {%- endfor -%}

        {% else %}
          {% render 'no-products' %}
        {% endif %}
      </ul>
    </div>

  </div>
</section>