<div class="lookbook">
I DONT THINK THIS IS CONNECTED
</div>

{% schema %}
{
  "name": "Lookbook",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection Title"
    },
    {
      "type": "richtext",
      "id": "collecton_description",
      "label": "Collection Description"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
          "type": "richtext",
          "id": "slide_caption",
          "label": "Caption"
        }
       ]
     }
   ]
}
{% endschema %}