<div class="lookbook">
lookbook
</div>

{% schema %}
{
  "name": "Lookbook",
  "tag": "section",
  "class": "lookbook-section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Lookbook"
    }
  ],
  "max_blocks": 50,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}