slideshow module


<div class="lookbook-collection">
  <div class="lookbook-wrapper" data-lookbook="{{ section.settings.lookbook_title }}">
  
    <h1 style="font-size: 4rem;">{{ section.settings.lookbook_title }}</h1>

    {% for block in section.blocks %}
      <div class="swiper-slider">
        <img src="{{ block.settings.image | image_url }}" />
      </div>
    {% endfor %}

  </div>
</div>


{% schema %}
{
  "name": "Lookbook",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "lookbook_title",
      "label": "title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 50,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "slide_caption",
          "label": "Slide Caption"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}


