.about-component {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    .about-wrapper {
        display: grid;
        grid-template-columns: 50% 1fr;
        align-items: center;
        width: 100%;
        max-width: var(--thin);
    }

    .left {
        font-size: var(--16px);
        letter-spacing: 0.014rem;
        line-height: 1.1;

        .about-title {
            h2 {
                font-size: var(--16px);
                font-family: inherit;
                margin: 0 0 16px 0;
            }
        }
    
        .tagline {
            span {
                font-size: var(--16px);
                color: var(--red);
                font-style: italic;
            }
        }
    }


    .right {
        position: relative;

        .featured-image img {
            width: 100%;
            max-width: 340px;
        }
    
        .question-mark {
            position: absolute;
            float: left;
            bottom: -10%;
            right: -3%;
    
            img {
                width: 220px;
                max-width: 100%;
            }
        }
    }

}

/*
-----------------------------------------------------------
*/
@media screen and (max-width: 767px) {

    .about-component {

        .about-wrapper {
            display: flex;
            flex-direction: column;
            padding: 80px 20px 0 20px;

            .left {
                font-size: var(--12px);
            }
            .right {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                .question-mark {
                    position: relative;
                    float: left;
                    bottom: -6%;
                    right: -4%;
            
                    img {
                        width: 240px;
                        max-width: 100%;
                    }
                }
            }
        }

    } 

}