/* 
* ===============
* Newsletter Modal 
* =============== 
*/
.shopify-section:has(.newsletter-modal) {
  position: fixed;
  float: left;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);

  .newsletter-modal {

    .newsletter-wrapper {
      max-width: 420px;
      background: var(--white);
      border: 1px solid var(--black);

      .action-bar {
        background: var(--white);
        color: var(--black);
        text-align: center;
        text-transform: uppercase;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size:  var(--16px);
        position: relative;
        border-bottom: var(--border-blk);

        .action-title {
        }
        .newsletter-close {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 4px;
          color: var(--black);
        }

      }

      .newsletter-body {
        padding: 10px;

        .warning {
          text-align: center;
          width: 100%;
          font-size: var(--16px);
          padding: 20px 40px 10px 40px;
        }

      }

      .newsletter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
          width: 100%;
        }

      }

      input {
        display: block;
        background: var(--white);
        color: var(--black);
        border: 1px solid var(--black);
        border-radius: 0px !important;
        margin: 10px auto;
      }

      input::placeholder {
        color: var(--black);
      }

      input[type="email"] {
        width: 100%;
        padding: 4px;
        font-size: var(--14px);
        border-radius: 0px !important;
        font-family: inherit;
        color: var(--black);
      }

      input[type="submit"] {
        padding: 4px 14px;
        font-size: var(--14px);
        font-family: inherit;
        text-transform: uppercase;
        border-radius: 0px !important;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background: var(--black);
        color: var(--red);
      }

    }
  }

}



@media screen and (max-width: 767px) {
  .newsletter-modal {

    .newsletter-wrapper {

      input {
        font-size: var(--14px);
      }

    }

  }
}