.shop-component {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

    // Globals
    .image {
        cursor: pointer;
    }

    /* Indicators */
    .indicator-holder {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;
        margin-top: 3px;
    }

    .indicator {
        background: var(--black);
        color: var(--red);
        font-style: italic;
        padding: 2px 6px 4px 6px;
        font-size: 10px;
        display: inline-block;
        white-space: nowrap;
        line-height: 1;
    }
    .new-indicator {
        background: var(--black);
        color: var(--red);
    }
    .preorder-indicator {
        background: #0029FF;
        color: var(--white);
    }
    .soldout-indicator {
        background: #B3B3B3;
        color: var(--white);
    }

    .no-products {
        padding-left: 0px;
    }


    .shop-component-wrapper {
        width: 100%;
        max-width: var(--thin);
        position: relative;

        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            top: 2px;
            text-transform: lowercase;

            span {
                cursor: pointer;
            }
        }

        /*
            Grid View
        */
        .products-grid.grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 60px 40px;
            animation: popUp 0.4s ease-in-out;

  
            li.item {
                text-transform: lowercase;

                .image {
                    width: 100%;
                    aspect-ratio: 1/1;
                }

    
                a {
                    text-decoration: none;
                    display: block;
                }

                a:hover {
                    text-decoration: underline;
                }

                .product-data {
                    margin-top: 14px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .indicator-holder {
                        //position: absolute;
                        //right: calc(100% + 3px);
                        top: -3px;
                    }

                    .name {
                        padding-right: 8px;

                        h3 {
                            margin: 0px;
                            font-family: var(--mingliu);
                            font-size: 12px;
                            line-height: 1.3;
                        }
                    }

                    .short-description {
                        span {
                            // font-family: var(--mingliu);
                            font-size: 12px;
                            color: #555555;
                        }
                    }

                    .price {
                        color: #555555;
                    }

                }
            }

        }

        /*
            Dual View
        */ 
        .products-grid.dual {
            display: none;
            width: 100%;
            animation: popUp 0.4s ease-in-out;

            .dual-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 60px 20px;
                flex-wrap: wrap;
                
                li.item {
                    text-transform: lowercase;

                    width: calc(50% - 20px);

                    .image {
                        width: 100%;
                        aspect-ratio: 1/1;
                    }
        
                    a {
                        text-decoration: none;
                        display: block;
                    }
    
                    a:hover {
                        text-decoration: underline;
                    }
    
                    .product-data {
                        margin-top: 30px;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        gap: 4px;

                        .indicator {
                            margin-top: 3px;
                        }
        
                        .short-description {
                            span {
                                font-family: var(--times);
                                font-size: var(--14px);
                                color: #555555;
                            }
                        }
                        .name {
                            h3 {
                                margin: 4px 0 4px 0;
                                font-family: var(--mingliu);
                                font-size: var(--14px);
                            }
                        }

                        .price {
                            color: #555555;
                        }
    
                    }
                }

            }
        }

        /*
            List View
        */
        .products-grid.list {
            display: none;
            animation: popUp 0.4s ease-in-out;
            // padding-top: 20px;

            h3, a {
                font-size: var(--10px);
            }

            h3 {
                font-family: var(--mingliu);
            }

            .list-item-wrapper {
                display: grid;
                grid-template-columns: 1.5fr 2fr 2fr 1fr 1fr;
                grid-gap: 20px;
                align-items: center;
                text-transform: lowercase;

                .product-title.desktop {
                    display: block;
                }
                .short-description.desktop {
                    display: block;
                }
                .product-title.mobile {
                    display: none;
                }

                a { 
                    text-decoration: none;
                    display: block;
                }

                a:hover { text-decoration: underline; }

                .image {
                    width: 60px;
                    max-width: 100%;
                    aspect-ratio: 1/1;
                    margin: 10px 0;
                }

                .name {
                    text-align: left;
                }

                .short-description {
                    text-align: left;
                    color: #555555;
                }

                .price {
                    text-align: center;
                    color: #555555;
                    span.hidden {
                        display: block !important;
                    }
                }

            }
        }

    }

}


/*
------------------------------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    .shop-component .colors {
        display: none !important;
    }

    .shop-component {

        .no-products {
            padding-left: var(--side-padding);
        }

        .shop-component-wrapper {

            .pagination {
                padding: 0 var(--side-padding) 0 0;
                top: -3px;
            }

            /* Grid */
            ul.products-grid.grid {
                padding: 0 35px;
                grid-template-columns: repeat(2, 1fr);

                li.item {
                    .product-data {
                        // .indicator-holder {
                        //     position: absolute;
                        //     right: calc(100% + 1px);
                        // }    
                    }
                }
            }

            /* List */
            ul.products-grid.list {
                padding: 0px 12px;

                .list-item-wrapper {
                    grid-template-columns:  1fr 2fr 1fr 1fr;
                    grid-gap: 0px;

                    .product-image {
                        img {
                            width: 55px;
                        }
                    }

                    h3 {
                        font-size: var(--12px);
                        margin: 0 0 10px 0;
                    }
                    a {
                        font-size: var(--12px);
                    }

                    .product-title.desktop {
                        display: none;
                    }
                    .product-title.mobile {
                        display: flex;
                        flex-direction: column;
                        font-size: var(--16px);
                    }
                    .short-description.desktop {
                        display: none;
                    }

                    .titles {
                        grid-template-columns: 1fr;
                        grid-gap: 0px;
                    }

                    .indicator-holder {
                        justify-content: flex-end;
                    }
                }

            }

            /* Dual */
            .products-grid.dual {

                .dual-wrapper {
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 0 12px;

                    li.item {
                        width: 100%;
                    }
                }
                
            }

        }

    }
}
