<div class="info-page">
    <div class="info-wrapper">
        <aside class="sidebar">
            <ul>
                {% for link in linklists.info-menu.links %}
                    <li>
                        <a href="{{ link.url }}" {% if request.path contains link.url %}class="active"{% endif %}>
                            {{ link.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <div class="page-content">
            <h1>{{ page.title }}</h1>
            <div>
                <p>{{ page.content | newline_to_br }}</p>
            </div>
        </div>
    </div>
</div>

