.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--white);
    z-index: 8;
    display: none;
    justify-content: center;

    .cart-overlay-wrapper {
        padding-top: 140px;

        width: 100%;
        max-width: var(--thin);

        .subtotal {
            border-top: var(--border-blk);
            border-bottom: var(--border-blk);
            padding: 20px 0;
        }

        .subtotal-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 0 80px 0;
            font-family:'Times New Roman', Times, serif;

            .checkout-button {
                background: transparent;
                color: var(--black);
                border: var(--border-blk);
                padding: 10px 20px;
            }

            .update-cart {
                background: transparent;
                color: var(--black);
                border: var(--border-blk);
                padding: 10px 20px;
            }
        }

        ul.cart-items {
            max-height: 60vh;
            overflow-y: scroll;

            li.cart-item {
                .cart-item-wrapper {
                    display: grid;
                    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr 1fr;
                    grid-gap: 20px;
                    align-items: center;
                }

                
                .product-title a {
                    text-decoration: none;
                    font-family: var(--mingliu);
                }

                .quantity {
                    width: 100%;
                }
                .quantity-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;
                    grid-gap: 10px;
                    align-items: center;

                    input:focus {
                        outline: 0;
                        border: 0;
                    }

                    input[type="number"] {
                        max-width: 2rem;
                        text-align: center;
                    }
                }

                .quantity:after,
                .quantity:before {
                    display: none;
                }

                .quantity button {
                    border: 0;
                    outline: 0;
                    background: transparent;
                    border-radius: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 12px;
                    }
                }

                .variants.size {
                    text-align: center;
                }
                .color-swatch {
                    width: 20px;
                    height: 20px;
                    display: block;
                    border: var(--border-blk);
                }

                .edit {
                    button {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-radius: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: inherit;
                        text-decoration: underline;
                    }
                }

                .delete {
                    button {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-radius: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: inherit;
                        text-decoration: underline;
                    }
                }


            }

        }

        ul.credit-cards-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

    }

}


.my-cart__items { 
    opacity: 1;
    transition: opacity .2s;
  }
   
  /* Make the area with controls visually disabled */
  body.js-ajax-cart-request-in-progress .my-cart__items {
    opacity: .7;
  }