.footer-menu {
    position: fixed;
    z-index: 8;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    opacity: 1;

    .footer-menu-wrapper {
        width: 100%;
        max-width: var(--thin);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        position: relative;

        .filter-menu {
            background: var(--white);
            border: var(--border-blk);
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 99;
            pointer-events: all;
            width: 100%;
            max-width: 371px;
            height: 496px;
            transform: translateX(2000px);
            transition: all 0.5s ease-in-out;

            .top {
                border-bottom: var(--border-blk);
                width: 100%;
                height: 57px;
                display: flex;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    overflow: hidden;
                    gap: 0px;
                    padding: 12px 10px;
                    width: 100%;

                    li {
                        padding: 6px;

                        a {
                            font-size: 12px;
                            text-decoration: none;
                            text-transform: lowercase;
                            padding: 8px;
                        }
        
                        a:hover {
                            background: #000000;
                            color: var(--red);
                        }

                    }

                }
            }

            .filters::-webkit-scrollbar {
                display: none;
            }

            .filters {
                width: 100%;
                overflow-y: scroll;
                height: 390px;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                    counter-reset: filters;
                    counter-reset: zilters 10;

                    li {
                        width: 100%;
                        border-bottom: var(--border-blk);
                        padding: 16px;
                        counter-increment: filters;
                        height: calc(390px / 5 + 1px);
                        display: flex;
                        align-items: center;

                        a {
                            text-decoration: none;
                            text-transform: lowercase;
                            font-size: 24px;
                        }
                        
                        @media screen and (max-width: 767px) {
                            a {
                                text-decoration: none;
                                text-transform: lowercase;
                                font-size: var(--18px);
                            }
                        }
         
                    }

                    li:last-of-type {
                        border-bottom: 0px;
                    }

                    li:hover {
                        background: #000;
                        color: var(--red);
                    }
                }
            }

            .bottom {
                width: 100%;
                border-top: var(--border-blk);
                padding: 0 12px;
                height: 48px;
                display: flex;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 20px;
                    width: 100%;
                }
                
                a {
                    font-size: 12px;
                    text-decoration: none;
                    text-transform: lowercase;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .filter-menu.filter-opened {
            transform: translateX(0px);
        }
        
        .plus {
            pointer-events: all;
            cursor: pointer;
            text-align: center;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                    position: absolute;
                    font-family: var(--mingliu);
                    font-size: var(--11px);
                    color: #292929;
                    text-align: center;
                    display: block;
                    margin: 0 0 5px 0;
                    z-index: 9;
                }

                img {
                    width: 72px;
                }
            }
        }

    }



}

@media screen and (max-width: 767px) {

    .footer-menu {

        .footer-menu-wrapper {

            .filter-menu {
                max-width: 82vw;
                margin-right: 0px;
                margin-bottom: 10px;

                .top  {
                    height: 60px;

                    ul {
                        justify-content: space-between;
                        overflow-x: scroll;
                        max-width: 100%;
                    }
                }

                .bottom {
                    height: 49px;
                }
            }

            .plus {
                padding-right: var(--side-padding);
                img {
                    width: 66px;
                }
            }
            
            .filter-menu.filter-opened {
                -webkit-transform: translateX(-12px);
                transform: translateX(-12px);
            }
        }
    }


}