.lookbook-collection {

    .lookbook-wrapper {
        padding: 100px 0;
        width: 100%;
        max-width: var(--thin);
        margin: 0 auto;

        .swiper-header {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: flex-end;
        }

        .swiper-slide {
            width: 100%;
            display: grid;
            grid-template-rows: 6fr 2fr;
            height: 94vh;
        }

        .swiper-pagination {
            position: relative;
            text-align: right;
        }

    }

}

.lookbook-page {
    padding-top: 140px;
    width: 100%;
    max-width: var(--thin);
    margin: 0 auto;
}