@import 'reset.scss';

@font-face {
  font-family: 'MingLiU';
  src: url('./MingLiU.eot');
  src: url('./MingLiU.eot?#iefix') format('embedded-opentype'),
      url('./MingLiU.woff2') format('woff2'),
      url('./MingLiU.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
  
/* Root */
:root {
  --mingliu: 'MingLiU';
  --times: 'Times New Roman', serif;
  --siberia-blue: #B6FFFE;
  --black: #000000;
  --dark-grey: #555555;
  --white: #ffffff;
  --red: #FF0000;
  --blue: #403F8B;
  --light-blue: #B6FFFE;
  --light-grey: #888888;
  --thin: 50vw;
  --border-blk: 1px solid var(--black);
  --side-padding: 12px;

  --38px: 2.375rem;
  --36px: 2.571rem;
  --32px: 2.286rem;
  --30px: 2.143rem;
  --28px: 2rem;
  --24px: 1.714rem;
  --22px: 1.571rem;
  --18px: 1.286rem;
  --16px: 1.143rem;
  --14px: 1rem;
  --12px: 0.857rem;
  --11px: 0.688rem;
  --10px: 0.714rem;
  --8px: 0.5rem;
}

/* Page Squeezer */
@media screen and (max-width: 1280px) {
  :root {
    --thin: 66vw;
  }
}

@media screen and (max-width: 100px) {
  :root {
    --thin: 74vw;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --thin: 100%;
  }
}

*,
body,
html,
div {
  text-transform: lowercase;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Times New Roman', serif;
  font-weight: lighter;
  letter-spacing: 0px;
  font-size: 14px;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

input[type="email"] {
  border-radius: 0px !important;
}

main.page-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', serif;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'Times New Roman', serif;
}

select {
  font-family: inherit;
  color: inherit;
}

img {
  z-index: 1;
}

/* Resets */
button, input {
  border-radius: 0px;
}

a {
  color: inherit;
}

.ming {
  font-family: var(--mingliu);
}

/* Animations */
@keyframes popUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0px); }
}

@keyframes slideDown {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fadeEmOut {
  0% { opacity: 1; }
  100% { opacity: 0.4; }
}

.js-ajax-cart-request-in-progress {
  // animation: fadeEmOut 1s ease-in-out forwards;
}

/* Parts */
@import './navbar.scss';
@import './404.scss';
@import './footer-menu.scss';

@import './home/hero.scss';
@import './home/shop.scss';
@import './home/marquee.scss';
@import './home/newsletter-modal.scss';

@import './shop/single-product.scss';
@import './shop/swiper.scss';
@import './shop/grid-changer.scss';
@import './shop/size-chart.scss';
@import './shop/sign-up-modal.scss';

@import './pages/lookbook.scss';
@import './pages/contact.scss';
@import './pages/about-page.scss';
@import './pages/privacy.scss';
@import './pages/info-page.scss';

@import './cart/cart--overlay.scss';
@import './cart/cart--empty.scss';

.page-component {
  display: none;
  width: 100%;
  min-height: 100vh;
  max-width: var(--thin);
  margin: 0 auto;
}

.color-swatch {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  display: block;
}

/* Fade To White */
.fade-to-white {
  display: block;
  opacity: 0;
  background: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}